{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="mt-5">Register</h2>
                    <form method="POST" class="user" action="{{ url_for('auth_bp.register') }}">

      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.phone_number.label(class="form-label") }}
        {{ form.phone_number(class="form-control") }}
        {% for error in form.phone_number.errors %}
          <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="form-check mb-3">
        {{ form.accept_terms(class="form-check-input") }}
        {{ form.accept_terms.label(class="form-check-label") }}
        {% for error in form.accept_terms.errors %}
          <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
      <a href="{{ url_for('auth_bp.login') }}" class="btn btn-link">Already have an account? Login</a>
    </form>
  </div>
</div>
{% endblock %}
